# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#
JWT_SECRET=
SESSION_COOKIE=

#
FRONTEND_URL=
DATABASE_URL=
REDIRECT_URL=
# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Postgres
POSTGRES_URL=postgres:

# Africas Talking API
AT_API_KEY=

# Pusher API
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=




# Google
GOOGLE_CLIENT_ID=1053974873264-smohcf02muhnhfp21tv0f99p6c5594uv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ek3Fz8zjruvCO2kgYd3PUU3N

#
JWT_SECRET=supersecret
SESSION_COOKIE=secretsshouldstaysecrets

#
FRONTEND_URL=http://localhost:3000
DATABASE_URL=
REDIRECT_URL=

# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Postgres
POSTGRES_URL=postgres:
DEV_CON=postgresql://postgres:password@localhost/SautiDev
TEST_CON=postgresql://postgres:password@localhost/SautiTest

# Africas Talking API
AT_API_KEY=

# Pusher API
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=