{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "camelcase": "off",
    "import/order": "off",
    "prefer-destructuring": "off",
    "no-undef": "warn",
    "no-use-before-define": "off",
    "no-unused-vars": "off"
  }
}
